{% extends 'base.html' %}

{% block content %}
    <div>
        <div>
            <h2>Owner:</h2>
            {{ home.owner }}
        </div>
        <div>
            <h3>Area:</h3>
            {{ home.area }}
            <h3>Address:</h3>
            {{ home.address }}
        </div>
        <div>
            <h3>City:</h3>
            {{ home.city }}
            <h3>State:</h3>
            {{ home.state }}
        </div>
        <div>
            <h3>Rent:</h3>
            {{ home.rent }}
        </div>
    </div>
{% endblock content %}