{% extends 'base.html' %}


{% block content %}
    <div style="text-align: right">
        {% if user.is_authenticated %}
            hi, {{ user.username }}
            <p><a href="{% url 'logout' %}">logout</a></p>
        {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">login</a> |
            <a href="{% url 'signup' %}">signup</a>
        {% endif %}
    </div>
    <form action="" method="get">
        {# ['area', 'address', 'city', 'state', 'rent', 'owner'] #}
        <p>Price</p>
        <div class="new">
            {{ filter.form.rent }}
        </div>
        <p>Owner
            {{ filter.form.owner }}
            Area
            {{ filter.form.area }}
        </p>

        <p>City
            {{ filter.form.city }}
            State
            {{ filter.form.state }}
        </p>

        <p>Address
            {{ filter.form.address }}
        </p>
        <input type="submit"/>
    </form>
    <br>
    <table>
        <tr>
            <th>Address</th>
            <th>Rent</th>
            <th>Owner</th>
            <th>Update</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        {% for obj in filter.qs %}
            {#        {% for obj in filter.qs %}#}
            <tr>
                <td style="text-align: left;">{{ obj.address }}</td>
                <td>{{ obj.rent }}</td>
                <td><a href="{% url 'owners' %}">{{ obj.owner }}</a></td>
                {% if obj.owner.user.username == request.user.username %}
                    <td><a href="{% url 'home_update' obj.id %}">+ update rental</a></td>
                    <td><a href="{% url 'home_delete' obj.id %}">+ delete rental</a></td>
                {% else %}
                    <td>- update rental</td>
                    <td>- delete rental</td>
                {% endif %}

                <td><a href="{% url 'home_detail' obj.id %}">+ view rental</a></td>
            </tr>
        {% endfor %}
    </table>

    <p><a href={% url 'home_create' %}>+ create new rental</a></p>
    {#    <p><a href="{% url 'filters' %}">+ filter rentals</a></p>#}
    <br>

{% endblock content %}
