{% extends 'base.html' %}

{% block content %}
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        {% for owner in owner_list %}
            <tr>
                <td>{{ owner.user.first_name }}</td>
                <td>{{ owner.user.last_name }}</td>
                <td>{{ owner.phone }}</td>
                <td>{{ owner.user.email }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}