{% extends 'base.html' %}
{% block content %}
    <h2>Sign Up</h2>
    <form method="post"> {% csrf_token %}
                {{ form.as_p }}
{#        {{ form.first_name.label_tag }}#}
{#        {{ form.first_name }}#}
{#        {{ form.first_name.errors }}#}
{##}
{#        {{ form.last_name.label_tag }}#}
{#        {{ form.first_name }}#}
{#        {{ form.first_name.errors }}#}
{##}
{#        {{ form.first_name.label_tag }}#}
{#        {{ form.first_name }}#}
{#        {{ form.first_name.errors }}#}
{##}
{#        {{ form.first_name.label_tag }}#}
{#        {{ form.first_name }}#}
{#        {{ form.first_name.errors }}#}
{##}
{#        {{ form.first_name.label_tag }}#}
{#        {{ form.first_name }}#}
{#        {{ form.first_name.errors }}#}
        <button type="submit">Sign Up</button>
    </form>
{% endblock %}